---
---

@import "{{ site.theme }}";

.wrapper {
    max-width: 2000px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the wrapper horizontally */
    padding: 0 20px; /* Add padding if necessary */
}

header h1 a {
    color: pink; /* Change the color as needed */
}
header h2 a {
    color: pink; /* Change the color as needed */
}
header h3 a {
    color: pink; /* Change the color as needed */
}
header h4 a {
    color: black; /* Change the color as needed */
}
header h5 a {
    color: black; /* Change the color as needed */
}
header h6 a {
    color: black; /* Change the color as needed */
}
header p a {
    color: black; /* Change the color as needed */
}
/* Change the color of "leenakhattat" */
footer a {
    color: black; /* Change to the desired color */
}

/* Change the color of "GitHub Pages" */
footer a:nth-child(2) {
    color: black; /* Change to the desired color */
}
